<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!--SignalRBus-->
  <add key="SignalRBusAddress" value="http://localhost:10086"/> 
  <!--SignalR Send Api-->
  <add key="SignalRBusSend" value="http://localhost:10086/api/Push/send"/>
  <!--SignalR Secret-->
  <add key="app_key" value="_001"/>
  <add key="userName" value="userName"/>
  <add key="passWord" value="passWord"/>
  <add key="secret_key" value="secret_key"/>
</appSettings>