<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- ================== 1：开发系统相关配置 ================== -->
  <!-- 默认数据库软件类型：Oracle,SqlServer,MySql,Access,SQLite-->
  <add key="ComponentDbType" value="SqlServer" />
  <!-- 连接字符串是否加密-->
  <add key="ConStringDESEncrypt" value="false" />
  <!-- 登陆提供者模式：Session、Cookie-->
  <add key="LoginProvider" value="Session" />
  <!-- webapi的密钥-->
  <add key="timestamp" value="webapi的密钥" />

  <!-- ================== 2：这里主要是服务器端配置项内容部分 ================== --> 
  <!-- 是否启动服务器缓存-->
  <add key="IsCache" value="true" />
  <!-- 服务器缓存设置时间（分钟）-->
  <add key="TimeCache" value="60" />
  
  <!-- ================== 3：系统性的参数配置 ================== -->
  <!-- 当前软件版本 -->
  <add key="Version" value="1.1" />
  <add key="TimeStampOut" value="10"/>
  <add key="AppKey" value="00000000001"/>
  
  <!--SignalR服务地址-->
  <add key="SignalRBusAddress" value="localhost:10086"/>
</appSettings>